.main-container{
    max-width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    padding: 3%
}

.main-heading {
    font-size: 2rem;
    font-weight: 700;
}

.btn-row {
    margin: 3% 0;
}